# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# Visual studio files
CMakeSettings.json
.vs

# CMake
CMakeFiles
*/CMakeFiles
build

# Generated doxygen documentation files, they belong on a different Git
*.html
*.css
*.js
/src/debug
/src/x64/Release
/src/openck.vcxproj.user
/src/openck.vcxproj.filters
/src/openck.vcxproj
/src/.qmake.stash
/src/release
